// @value blue: #0c77f8;
// @value red: #ff0000;
// @value green: #aaf200;


.titleBox {
	margin:35px 2% 0 2%;
	position: relative;
}
.title {
	font-size:14px;
  	color: #fff;
  	position: absolute;
  	left:0;
  	top:0;
}
.dateTitle {
	text-align: center;
	font-size:14px;
}
.addButton {
	position: absolute;
	right:0;
	top:0px;
	width: 96px;
	height: 36px;
}
.btnGroup {
	float:right;
	margin:8px 37px 0 0;
}
.btnIcon {
	width: 24px;
	height:24px;
	margin-right: 5px;
}
.timeAxisItem {
	width: 744px;
    height: 160px;
    margin: 0 auto 30px;
    position: relative;
    background-color: rgba(0,0,0,0.2);
}
.itemTitle {
	float:left;
	padding-left: 42px;
	line-height: 40px;
}
.timeAxisWrap {
	padding-top: 60px;
}
:global{
	.btn{
	    color: rgb(255, 255, 255);
	    border-radius: 2px;
	    background: rgb(22, 129, 196);
	    line-height: 36px;
	    text-align: center;
	}
	.btn:hover{
		background: #53b9f9;
	}
    
}

